.container-lista-curso {
    width: 100%; 
}
p.descricao-pag {
    text-align: center; 
}

.lista-curso {
    margin-left: auto;
    margin-right: auto;
    width: 170px; 
}
table, th {
    align-self: center;
    text-align: center;
    border: 1px solid black; 
}
  
td {
    border: 1px solid black;
    text-align: center; 
}

.mets{

    color: #16A085; 
    margin-left: 170px;
     margin-top: 100px;
     margin-right: -100px;
     text-decoration:none
}
.met{

    color:#16A085; 
    margin-left: 170px;
     margin-top: 100px;
     margin-right: -100px;;
     
     font-weight: bold;
     font-size: 150%;
     text-decoration:none
     
     
}
.lane{
   border-bottom: solid 1px #000;
}
