{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div>
        <h2 class="text-center">Escolha o seu curso de graduação!</h2>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 col-sm-6 highlight">
            <a   href="#" style="
                color: black !important;
                text-decoration: none !important;
            ">
                <div class="h-caption">
                    <h4>Administração</h4>
                </div>
                <div class="h-body text-center">
                    <p>O curso é voltado para as exigências do mercado de trabalho atual e aborda de forma ampla o
                        universo corporativo. Você vai aprender a definir as melhores estratégias para o bom
                        funcionamento das empresas, para gerar lucros, controlar gastos e se destacar com qualidade.</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
            <a   href="#" style="
                    color: black !important;
                    text-decoration: none !important;
                ">
                <div class="h-caption">
                    <h4>Análise e Desenvolvimento de Sistemas</h4>
                </div>
                <div class="h-body text-center">
                    <p>O curso de Análise e Desenvolvimento de Sistemas forma profissionais
                        capazes de desenvolver, analisar, projetar, implementar e atualizar sistemas de informação para
                        diversos setores de atividades. </p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
            <a   href="#" style="
                        color: black !important;
                        text-decoration: none !important;
                    ">
                <div class="h-caption">
                    <h4>Engenharia da Computação</h4>
                </div>
                <div class="h-body text-center">
                    <p>A graduação em Engenharia da Computação busca formar profissionais para atuar em processos de
                        automação, integrando aspectos
                        relacionados ao desenvolvimento e gerência de projetos de hardware e software.</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
            <a   href="#" style="
                            color: black !important;
                            text-decoration: none !important;
                        ">
                <div class="h-caption">
                    <h4>Sistemas de Informação</h4>
                </div>
                <div class="h-body text-center">
                    <p>A Graduação de Sistemas de Informação prepara o aluno para ser um profissional transformador do
                        mercado,
                        desenvolvendo soluções inovadoras e criativas na construção e utilização de Sistemas de
                        Informação.</p>
                </div>
            </a>
        </div>
        
        <div class="col-md-3 col-sm-6 highlight">
            <a   href="#" style="
                                    color: black !important;
                                    text-decoration: none !important;
                                ">
                <div class="h-caption">
                    <h4>Banco de Dados</h4>
                </div>
                <div class="h-body text-center">
                    <p>O curso de Banco de Dados prepara o aluno para ser um profissional versátil
                        e com habilidades para atuar com diversas plataformas e estruturas
                        de desenvolvimento e administração de sistemas de Banco de Dados,
                        com acesso a todo o repertório técnico e teórico da área.</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
            <a   href="#" style="
                                        color: black !important;
                                        text-decoration: none !important;
                                    ">
                <div class="h-caption">
                    <h4>Redes de Computadores</h4>
                </div>
                <div class="h-body text-center">
                    <p>Aprende-se a realizar controles de tráfego e implementar tecnologias de segurança para garantir
                        o bom funcionamento
                        dos sistemas de comunicação de dados, com competência para atuar em empresas de pequeno e
                        grande porte.</p>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}