{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div>
        <h2 class="text-center">Saiba mais sobre o curso</h2>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 col-sm-6 highlight">
            <a   href="#" style="
                color: black !important;
                text-decoration: none !important;
            ">
                <div class="h-caption">
                    <h4>Administração</h4>
                </div>
                <div class="h-body text-center">
                    <p>Seja mais que somente um administrador do mercado. Faça um curso reconhecido pelo MEC
                        com conceito máximo e com ênfase em Empreendedorismo e Liderança para estar preparado
                        para as inovações que surgem no mundo dos negócios. Você poderá atuar em:
                        *Instituições financeiras; <br/>
                        *Empresas de serviços; <br/>
                        *Comércio varejista ou atacadista; <br/>
                        *Industrias no geral; <br/>
                    </p>
                </div>
            </a>
        </div>        
    </div>
</div>
{% endblock %}