{% extends "layout.html" %}
{% load staticfiles 	%}
{%block content %}
		<ol class="breadcrumb">
			<li><a href="index">Home</a></li>
			<li class="active">Sobre</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Sobre</h1>
				</header>
				<h3>Find A Way</h3>
				<p><img src="{% static 'images/mac.jpg' %}" alt="" class="img-rounded pull-right" width="300" > É uma instituição privada de ensino superior localizado no estado de São Paulo. É uma das mais conceituadas universidades na área de tecnologia.</p>
				<p>Preparamos os alunos para o mercado de trabalho, além de um grande time de mestres e doutores com larga experiência profissional!</p>
				<p>Contamos com uma infraestrutura moderna, avaliação positiva no MEC e parcerias com grandes empresas para oferecer as melhores opções ao alunos!</p>
				<h3>Valores</h3>
				<p>Busca de níveis superiores de inovação e conhecimento!</p>
				<p>Acesso a uma formação de excelência com amplitude de pensamento e visão direcionada!</p>
				<p>Abrir as portas às inumeras experiências que o mundo oferece hoje!</p>
				
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="widget">
					<h4>Artigos</h4>
					<ul class="list-unstyled list-spaces">
						<li><a href="">Carreira em Tecnologia</a><br><span class="small text-muted">Fique por dentro das oportunidades de trabalho e crescimento profissional, faça sua lista de opções.</span></li>
						<li><a href="">Motivação profissional</a><br><span class="small text-muted">Veja nossa lista de filmes motivacionais que vão fazer a diferença sua vida.</span></li>
						<li><a href="">Reconhecimento e valorização profissional</a><br><span class="small text-muted">Invista na sua capacitação profissional, trace seu planejamento de carreira, ofereça e receba feedbacks.</span></li>
						<li><a href="">Hackathons</a><br><span class="small text-muted">Eventos que reunem programadores, desiners e outros profissionais ligados ao desenvolvimento de software em maratonas de trabalho com o objetivo de criar soluções para desafios propostos.</span></li>
						<li><a href="">Profissões em alta</a><br><span class="small text-muted">Vivemos a era da informação, fique por dentro da nova realidade e alcance patamares maiores.</span></li>
					</ul>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	
	{% endblock %}
